@font-face {
    font-family: 'RatioModern';
    src: url("./font/RatioModern.otf") format("opentype");
}

@font-face {
    font-family: 'RatioModern';
    font-weight: bold;
    src: url("./font/RatioModernMedium.otf") format("opentype");
}

.fontRatioModern { font-family: 'RatioModern', sans-serif; }
.fontRaleway { font-family: 'Raleway', sans-serif; }

html { background-color: white;  font-family: 'Raleway', sans-serif; }
body { font-family: 'Raleway', sans-serif;}
header { width: 1400px; margin: 0 auto; padding: 0 !important; font-family: 'Raleway', sans-serif; margin-bottom: 33px;}

a { color: inherit; }
a:hover, a:active, a:focus, a.active { text-decoration: none; color: inherit; } 

#menuOnOff { display: none; }
.mobileMenuContent { display: none; }
#menuOnOff:checked ~ nav.mainMenuMobile .mainMenu .mobileMenuContent { display: block; }

.menuIcon { display: none; cursor: pointer; }

.logo { margin: 0 auto; }
.displayBlock { display: block; }

.row {margin: 0;}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
header nav { padding: 0px !important;}
header nav ul { list-style-type: none; font-size: 17px;}
header nav ul li { text-align: center; margin-top: 26px; margin-bottom: 20px;}
header nav .topMenuItems { width: 55%; padding: 0 6% 0 3%; float: left; color: #808080; text-transform: uppercase;}
header nav a:hover,header nav li.active a { font-weight: bold;}
header nav .topMenuLanguage { width: 15%; float: left; padding: 0; color: black; margin-right: 5%; text-transform: uppercase;}
header nav .topMenuLanguage li { border-right: 2px solid #d7bb92;  }
header nav .topMenuLanguage li:last-child { border-right: none; }
header nav .formSearch { width: 20%; float: left; margin-top: 21px;}
header nav .formSearch .formSearchContainer {
    box-shadow: 6px 6px 13px 0px rgba(255, 255, 255, 1),  -5px -5px 28px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee; padding-bottom: 7px;
}
header nav .formSearch input { border: none;}
header nav .formSearchText { margin: 0 7px; width: 75%;}
header nav .formSearchText:focus { outline: none;}
header nav .formSearchImage { background-color: white; margin: 8px 0 -8px 3px;}
header nav .topMenuSocial { width: 5%; float: left; position: relative;  padding-left: 25px;}
header nav .topMenuSocial ul {position: absolute; padding: 0 !important; }
header nav .topMenuSocial li { margin-top: 20px;}
header nav .topMenuSocial li ul li { font-size: 28px; margin: 0 !important; }

header .logoRow { margin-top: 30px; }

#mainMenuBackground { background-color: #f4e0b5; padding: 0px 12px; margin-bottom: 27px; }
.mainMenu { margin: 0 auto; width: 1195px; font-family: 'RatioModern', sans-serif; text-transform: uppercase; }
.mainMenu a { font-size: 21px; padding: 0 65px; border-right: 2px solid #d7bb92; padding-top: 21px; padding-bottom:14px; }
.mainMenu a.active, .mainMenu a:hover { background-color:rgba(0,0,0,0.2); }
 
.mainMenu a:last-of-type { border: none; }
.mainMenuMobile {display: none;}
.centerMenuMobile { display: none;}

.mobileSocial { display: none; }

.carousel .carousel-indicators { bottom: 50px;}
.carousel .carousel-indicators li { background: url("../img/carousel-point.png") center center no-repeat; width: 8px; height: 8px; margin: 4px;  }
.carousel .carousel-indicators li.active { background: url("../img/carousel-point-active.png") center center no-repeat;  }

.slider { display: none; }
#logoCarousel { margin: 0px 70px; margin-bottom: 47px;  width: /*90%*/1242px; height: 80px;}
#logoCarousel .slick-slide {opacity: 1 !important;}
#logoCarousel .slick-slide { width: 130px; padding: 0 5px;  margin: 0px 2px;  object-fit: cover; }
#logoCarousel .slick-list { margin: 0 3px;}
#logoCarousel .slick-slide div div img { margin: 0 auto; }
#logoCarousel .slick-slide img { }
#logoCarousel .slick-prev, #logoCarousel .slick-next {
    position: absolute;
    top: 15px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
}
#logoCarousel .slick-prev {left: -55px; background: url("../img/slider-left-arrow.png") center center no-repeat; width: 26px; height: 47px; }
#logoCarousel .slick-next {right: -55px; background: url("../img/slider-right-arrow.png") center center no-repeat; width: 26px; height: 47px; }

.bannerTop { font-size: 39px; font-family: 'Raleway', sans-serif; margin: 0 14px 24px; display: block; }
.bannerMap { color: #e6cd97; text-transform: uppercase; padding: 90px 70px 70px; background: url("../img/banner-map-background.jpg") center center no-repeat; background-size: cover;  }
a.bannerMap:hover {color: #e6cd97;text-decoration:none;}
.no-padding { padding: 0!important; }

.articleGroup { margin: 0 14px 32px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);  }
.articleGroup .sectionContent {padding: 46px; border-radius: 0 0 7px 7px;  border:  1px solid #cdcdcd; border-top: none; box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15); color: #808080; }
.articleGroup.withoutCaption .sectionContent { border-radius: 7px; border-top:  1px solid #cdcdcd;}
.articleGroup .sectionContent h1 {text-transform: uppercase;  font-family: 'Raleway', sans-serif; font-size: 29px; color: black; }
.articleGroup .sectionContent h2 {text-transform: uppercase; padding-top: 0.5em;  font-family: 'Raleway', sans-serif; font-size: 29px; color: black; }
.articleGroup.withoutCaption  .sectionContent .content { margin: 0; }
.articleGroup .contact { line-height: 2em;}
.articleGroup .contact h1 { min-height: 4em; }
.articleGroup .contact b { color: black;}
.articleGroup.detail, .articleGroup.detail .wholeArticles { border: none; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); }
.articleGroupCaption { position: relative; background: url("../img/article-group-caption.png") center center repeat-y; background-size: contain; padding: 55px 0 43px;  }
.articleGroupCaption h1 { font-size: 43px; font-family: 'RatioModern', sans-serif; text-transform: uppercase; padding: 5px 0 0 0; margin: 0; color: black; font-weight: normal; text-align: center; }
.articleGroupCaption a { font-size: 19px; font-family: 'Raleway', sans-serif; text-transform: uppercase; display: block; width: 254px; text-align: center; padding: 35px; position: absolute; right: 51px; background-color: #d9be8b; top: 30px; }
.articleGroup .wholeArticles { padding: 24px 0; border:  1px solid #cdcdcd; border-top: none; box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15);  }
.articleGroup .wholeArticles .rowArticles { padding-bottom: 24px; }
.articleGroup article { border-radius: 7px; border:  1px solid #cdcdcd; padding: 20px; box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15); }
.articleGroup article.emptyArticle  { border:  0px; box-shadow: none; }

.articleGroup article img { margin-bottom: 20px;}
.articleGroup article h2 { font-size: 29px; color: black; font-family: 'Raleway', sans-serif; text-transform: uppercase;  font-weight: normal; text-align: left; width: 350px; padding-bottom: 5px; min-height: 3em; }
.articleGroup article h3 { font-size: 19px; color: #808080; font-family: 'Raleway', sans-serif; text-transform: uppercase; width: 50%; font-weight: normal; text-align: left; padding-top: 33px;}
.articleGroup article a.more { display: block; font-size: 19px; color: black; font-family: 'Raleway', sans-serif; text-transform: uppercase; width: 50%; background-color: #c0c0c0; padding: 18px 34px;  }
.articleGroup article.career h2 { font-size: 25px;  margin: 0 auto; text-align: center; }
.articleGroup article.career a.more { margin: 0 auto; text-align: center; padding: 10px 34px; }
.articleGroup article.content .moreImages a { padding: inherit; background: none;     width: 110px; }
.articleGroup .articleGroupMenu { margin: 28px 0 14px;}
.articleGroup .articleGroupMenu a { margin: 0px; padding: 0; text-align: center; }
.articleGroup .articleGroupMenu a:last-of-type { text-align: right; }
.articleGroup .articleGroupMenu a:first-of-type { text-align: left; }
.articleGroup .articleGroupMenu a span { display: inline-block; width:98%; text-align:center;font-family: 'Raleway', sans-serif; background-color: #404040; text-transform: uppercase; font-size: 26px; color: white; padding: 20px 40px 17px; }
.articleGroup .articleGroupMenuWithSearch {  }
.articleGroup .articleGroupMenuWithSearch a { margin: 0 5px; width: 100%; background-color: #404040; text-align: center;}
.articleGroup .articleGroupMenuWithSearch a span { width: 100%; text-align: center; }
.articleGroup .articleGroupMenuWithSearch a:first-of-type { margin-left: 0; }
.articleGroup .articleGroupMenuWithSearch a:last-of-type { margin-right: 0; }
.articleGroup .articleGroupMenuWithSearch .formSearch { width: 20%; float: left; margin-top: 21px; margin-left: 30px;}
.articleGroup .articleGroupMenuWithSearch .formSearch .formSearchContainer {
    box-shadow: 6px 6px 13px 0px rgba(255, 255, 255, 1),  -5px -5px 28px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee; padding-bottom: 7px;
}
.articleGroup .articleGroupMenuWithSearch .formSearch input { border: none;}
.articleGroup .articleGroupMenuWithSearch .formSearchText { margin: 0 7px; width: 75%;}
.articleGroup .articleGroupMenuWithSearch .formSearchText:focus { outline: none;}
.articleGroup .articleGroupMenuWithSearch .formSearchImage { background-color: white; margin: 8px 0 -8px 3px;}
.articleGroup.aboutUs .mainAnchor { text-transform: uppercase; }
.articleGroup.aboutUs .content {text-align: right;}

.articleGroup .content { margin: 40px 0; padding: 35px; }
.articleGroup .content .images { padding: 0 50px 0px 0;}
.articleGroup .content .images .moreImages img { object-fit: contain; width: 100%; }
.articleGroup .content h2 { width: auto; min-height: inherit; margin-bottom: 20px;  }
.articleGroup .content .text { color: #808080; font-size: 21px;   }
.articleGroup .content .mainAnchor { background-color: #404040; color: white; text-align: center; width: auto; margin-top: 40px; padding: 16px 50px; }

.articleGroup .miniTable { margin: 20px 0; font-family: 'Raleway', sans-serif; }
.articleGroup .miniTable .row { margin: 15px 0; }
.articleGroup .miniTable .caption { text-align: right; text-transform: uppercase; color: black; font-size: 21px; padding-right: 20px; }
.articleGroup .miniTable .content { text-align: left; margin: 0; padding: 0; font-size: 21px; }
.articleGroup .miniTable .content a { background: none; display: inline; width: auto; padding: 0; font-size: inherit; color: inherit; text-transform: inherit;  }
.articleGroup .multipleAnchor a { margin: 0 5px; padding: 10px 50px;}

.articleVoucherbook { position: relative;}
#imageVoucherBook { position: absolute; top: 100%; right: 2%; width: 290px; height: 499px; z-index: 1;}

.articleVoucherbookContent { margin: 0 14px 32px;  }
.articleVoucherbookContent h2 { text-transform: uppercase; font-family: 'Raleway', sans-serif; font-size: 29px; padding-bottom: 10px; }
.articleVoucherbookContent h2.caption { padding-left: 30px; } 
.articleVoucherbookContent p { color: #808080; font-size: 22px; padding-top: 10px;}
.articleVoucherbookContent .voucherbookText { padding: 30px 70px; }
.articleVoucherbookContent .imageVoucherBookMain { position: relative; top: -80px; left: 220px; }
.articleVoucherbookContent .color { color: #d50000; font-size: 20px;  font-family: 'RatioModern', sans-serif; font-weight: bold;}
.articleVoucherbookContent section { padding: 0 50px}
.articleVoucherbookContent form {  }
.articleVoucherbookContent label { padding: 15px 0 0; color: #808080; font-size: 22px;}
.articleVoucherbookContent input.inputText { padding: 10px 10px;}
.articleVoucherbookContent .inputTextarea { height: 8em; padding: 10px;}
.articleVoucherbookContent .mainAnchor { background-color: #404040; color: white; text-align: center; width: auto; padding: 16px 50px; text-transform: uppercase; margin-top: 85px; }
.articleVoucherbookContent .labelText { font-size: 18px; line-height: 1.2em; margin-bottom: 2em; }
.articleVoucherbookContent .articleVoucherbookContentThanks { color: black; font-size: 29px; }
#inputCheckboxVoucherbook { float: right;}

.articleEventContent { margin: 0 14px 32px;  }
.articleEventContent h2 { text-transform: uppercase; font-family: 'Raleway', sans-serif; font-size: 29px; padding-bottom: 10px; font-weight: bold; }
.articleEventContent h2.caption { padding-left: 30px; } 
.articleEventContent p { color: #808080; font-size: 22px; padding-bottom: 1em; padding-top: 10px;}
.articleEventContent .eventText { padding: 30px 70px; }
.articleEventContent .eventText .greyArrows { padding: 20px 0;}
.articleEventContent .eventText .greyArrows .greyArrowBackground { background-size: contain; color: white; padding: 5px 20px 5px 45px; font-size: 15px; }
.articleEventContent .eventText .greyArrowBackground1 { background: url(../img/grey-arrow-background-1.png) center center no-repeat;  }
.articleEventContent .eventText .greyArrowBackground2 { background: url(../img/grey-arrow-background-2.png) center center no-repeat;  }
.articleEventContent .eventText .greyArrowBackground3 { background: url(../img/grey-arrow-background-3.png) center center no-repeat;  }
.articleEventContent .imageInstaxCaption { width: 100%; text-align: center; padding: 60px 20px;}
.articleEventContent .color { color: #d50000; font-size: 20px;  font-family: 'RatioModern', sans-serif; font-weight: bold;}
.articleEventContent section { padding: 0 50px}
.articleEventContent .imageInstaxEvent { width: 100%;}
.articleEventContent form {  }
.articleEventContent label { padding: 15px 0 0; color: #808080; font-size: 22px;}
.articleEventContent input.inputText { padding: 10px 10px;}
.articleEventContent .inputTextarea { height: 8em; padding: 10px;}
.articleEventContent .mainAnchor { background-color: #404040; color: white; text-align: center; width: auto; padding: 16px 50px; text-transform: uppercase; margin-top: 85px; }
.articleEventContent .labelText { font-size: 18px; line-height: 1.2em; margin-bottom: 2em; }
.articleEventContent .articleEventContentThanks { color: black; font-size: 29px; }
.articleEventContent .eventRules { color: #808080; font-size: 22px; padding-bottom: 2em;  }
.articleEventContent .eventTextUpperCase { text-transform: uppercase; color: black;}
.articleEventContent .eventTextThanks {background: url(../img/image-instax-thanks.jpg) center center no-repeat; background-size: contain; min-height: 500px;  }
#inputCheckboxEvent { float: right;}

section .withBorder {box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.15); }

.brandList { margin-top: 40px; }
.brandList .rowArticles { padding: 0!important; }
.brandList article { width: 410px; height: 240px; margin-bottom: 35px; text-transform: uppercase;  font-family: 'Raleway', sans-serif; }
.brandList article .front { display: block; }
.brandList article .back { display: none; }
.brandList article .mobile { display: none; }
.brandList article:hover .front, .brandList article:active .front, .brandList article:focus .front { display: none;}
.brandList article:hover .back, .brandList article:active .back, .brandList article:focus .back { display: block;}
.brandList article:hover, .brandList article:active, .brandList article:focus { background-color: #ecd4a3; }

.brandList article .front { text-align: center; padding-top: 60px;}
.brandList article .back { text-align: center; }
.brandList article .back .caption { font-size: 29px; color: #404040; }
.brandList article .back .openHours { font-size: 21px; color: #808080; margin-bottom: 15px; }
.brandList article .back a { color: white; background-color: #3c372b; border: 1px solid black; display: block; margin: 0 auto; width: 300px; padding: 8px; margin-bottom: 12px;   }


.articleGroup .wholeArticlesGallery { padding-top: 20px; border:  1px solid #cdcdcd;  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); }
.articleGroup .wholeArticlesGallery article { border: none; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); }
.articleGroup .wholeArticlesGallery .slick-prev, .articleGroup .wholeArticlesGallery  .slick-next {
    position: absolute;
    top: 210px;
    z-index: 1;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
}
.articleGroup .wholeArticlesGallery .slick-prev {left: 55px; background: url("../img/gallery-left-arrow.png") center center no-repeat; width: 25px; height: 45px; }
.articleGroup .wholeArticlesGallery .slick-next {right: 55px; background: url("../img/gallery-right-arrow.png") center center no-repeat; width: 25px; height: 45px; }

.paginator { text-align: center; font-family: 'Raleway', sans-serif; margin: 50px 0 80px; }
.paginator a { text-align: center; color: white; font-size: 18px;}
.paginator a span { display: inline-block; padding-top: 6px; }
.paginator .leftArrow { background: url("../img/left-arrow.png") center center no-repeat; width: 25px; height: 46px; margin-right: 37px; }
.paginator .rightArrow { background: url("../img/right-arrow.png") center center no-repeat; width: 25px; height: 46px; margin-left: 37px; }
.paginator .page { width: 45px; height: 45px; border-radius: 50%; background-color: #d7bb92; border: 1px solid #d7bb92; margin: 0 11px; }

.social { margin: 0px 14px 32px; box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.15); padding: 22px 0; position: relative; }
.social section { text-align: center; padding: 0 20px;  width: 420px; text-transform: uppercase;}
.social .caption { font-family: 'RatioModern', sans-serif; color: black; font-size: 40px; margin-top: 6px; }
.social .text { text-align: left; font-family: 'Raleway', sans-serif; font-size: 18px; color: #797979; line-height: 1.3em; }
.social .buttons { font-family: 'Raleway', sans-serif; font-size: 17px; font-weight: bold;}
.social .buttons a { color: white; background-color: #f5d7b0; margin: 0 10px; padding: 15px 19px; box-shadow: -5px -5px 33px 0px rgba(0, 0, 0, 0.15);   }
.social .buttons a.active { color: white; background-color: #404040;  }
/*.social .buttons a svg { margin-right: 3px; }*/
.social .emailForm { position: absolute; width: 410px; border-radius: 7px; border: 1px solid #dedede; padding: 40px 30px; background-color: #fdfdfd; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); z-index: 1; top: 100px; right: 17%; display: none; }
.social .emailForm .emailFormTop { padding: 0 20px; }
.social .emailForm  #inputText { margin: 0 auto; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);  border: none; display: block; width: 100%; padding: 10px; text-align: center; margin-bottom: 10px; }
.social .emailForm  .labelInputText { font-size: 18px; font-family: 'Raleway', sans-serif; color: #b2b2b2; display: block; text-align: center; }
.social .emailForm  .button {box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); color: white; background-color: #f5d7b0; text-transform: uppercase; font-size: 21px;  border: none; padding: 14px; margin-top: 15px; }
.social .emailForm  .emailFormBottom { padding-top: 20px;}
.social .emailForm  #inputCheckbox, input.styledCheckbox {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative; }

.social .emailForm  #inputCheckbox:active, .social .emailForm  #inputCheckbox:checked:active, input.styledCheckbox:active, input.styledCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.social .emailForm  #inputCheckbox:checked, input.styledCheckbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.social .emailForm  #inputCheckbox:checked:after, input.styledCheckbox:checked:after {
	content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 5px;
    color: #99a1a7;
}
.social .emailForm  .labelText { color: #b2b2b2; font-size: 16px; padding-right: 0;  }
.social .emailForm  .labelText a { font-weight: bolder;}

.articleGroupVoucherMobile { display: none;}

footer {margin-top: 50px; margin-bottom: 60px; font-family: 'Raleway', sans-serif; }
footer section.col {padding-right: 2em; }
footer section .caption { font-family: 'Raleway', sans-serif; font-size: 29px; text-transform: uppercase; color: black; display: block; margin-bottom: 20px; margin-top: 60px; }
footer section .articleVoucherBook .caption { margin-top: 60px; }
footer section .caption {margin-top: 0;}
footer section { font-family: 'Raleway', sans-serif;  color: #808080; font-size: 21px; }
footer section a { display: block; text-decoration: underline;}
footer section a:hover { color: black;}

.noDesktop { display: none; }
.uppercase { text-transform: uppercase;}

/*extra large - XL mensi nez */
@media (max-width: 1400px) { 
    .mainMenuMobile {display: none;}
    .articleGroup article { width: 400px; margin: 0 auto 2%; }
    .articleGroup article.content { width: auto; }
    .articleGroup article.content .images { margin: 0 auto; text-align: center; padding: 0; }
    .articleGroup .wholeArticles .rowArticles { padding-bottom: 0px; }
    .articleGroupCaption { padding: 30px 0 25px; }
    .articleGroupCaption h1 { text-align: left; margin-left: 5%; font-size: 30px;}
    .articleGroup.detail .articleGroupCaption h1 { text-align: center; margin-left: auto; font-size: 30px;}
    .articleGroupCaption a { padding: 5px; }
    .social section { margin: 0 auto 20px; text-align: center !important;}
    .social section.buttons { padding-top: 40px;}
    .articleGroup article h3 { padding-top: 24px; }
    .articleGroup article a { padding: 9px 34px; }
    .articleGroup .articleGroupMenuWithSearch .formSearchText { margin: 0 7px; width: 65%;}
    .articleGroup .articleGroupMenuWithSearch .formSearch { width: 18%; float: left; margin-top: 10px; margin-left: 30px;}
    
    .articleGroup .articleGroupMenu a span { font-size: 18px; padding: 17px 20px 15px; }
    
    .mainMenu a { padding: 4px 2.2% 0;}
    header nav .topMenuItems { padding: 0 0% 0 2%; }
    header nav .topMenuLanguage { margin-right: 2.5%; margin-left: 2.5%; }
    header nav .formSearch { width: 17%; }
    header nav .formSearchText { width: 65%; }
    footer section .caption {font-size: 24px;}
    footer section { font-size: 17px; }
    .articleGroup .slick-list { margin: 0 -4px; }

    #logoCarousel { margin: 0px 74px; margin-bottom: 27px;  width: 786px; height: 80px;}
    #logoCarousel .slick-slide { width: 124px; padding: 0 5px;  margin: 0px 2px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 3px;}
    
    .articleVoucherbookContent .imageVoucherBookMain { position: relative; top: auto; left: auto; width: 100%; }
    
    .articleEventContent .eventText .greyArrows .greyArrowBackground { padding: 5px 15px 5px 35px; font-size: 15px; }
}


/*large - LG mensi nez*/
@media (max-width: 992px) {
    #topMenu { display: none;}
    .mainMenuDesktop {display: none;}
    .mainMenuMobile {display: block;}
    footer section .caption, footer section .caption:first-of-type { margin-top: 1em; }
    #logoCarousel { margin: 0px 56px; margin-bottom: 27px;  width: 570px; height: 80px;}
    #logoCarousel .slick-slide { width: 135px; padding: 0 10px;  margin: 0px 0px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 0px;}
    .articleGroupCaption a { width: 190px;}
    .articleGroup .wholeArticlesGallery .slick-list { width: 434px; margin: 0 auto; }
    
    .articleGroup .articleGroupMenu { margin: 10px 0;}
    .articleGroup .articleGroupMenu a { width: 100%; margin: 0px; padding: 0; text-align: center; }
    .articleGroup .articleGroupMenu a:last-of-type { text-align: center; }
    .articleGroup .articleGroupMenu a:first-of-type { text-align: center; }
    .articleGroup .articleGroupMenu a span { font-size: 14px; padding: 17px 20px 12px; width:100%; margin: 5px 0; }
    .articleGroup .articleGroupMenu a { background: none; }
    .articleGroup .articleGroupMenuWithSearch .formSearch { width: 100%; margin-right: 30px; }
    .articleGroup .articleGroupMenuWithSearch .formSearch .formSearchImage { float: right; margin-right: 10px; margin-top: 5px; }
    .articleGroup .brandList article img { width: auto; }
    .articleGroup article img { width: 100%;}
    .articleGroup .contact img { object-fit: contain; width: 100%; }
    .articleGroup .contact h1 { min-height: inherit; }

    .mainMenu a { border: none; margin: 0.3em 0; text-align: center; }
    header nav .topMenuItems { width: 100%; }
    header nav .topMenuItems li {margin: 20px 0 10px; }
    header nav .topMenuLanguage { width: 30%; }
    header nav .formSearch { width: 50%; }
    header nav .formSearchText { width: 82%; }
    header nav .topMenuSocial { position: inherit;}
    header nav .topMenuSocial li ul li { float: left;}
    header nav .topMenuSocial li ul li a { margin-right: 0.6em; display: block;}

    .logoRow .logo img { height: 150px;}

    .mainMenuMobile .mainMenu { font-family: 'Raleway', sans-serif; position: relative; }
    .mainMenuMobile .mainMenu .mobileLanguage a {  padding: 5px 1.7em; border-right: 2px solid #d7bb92; }
    .mainMenuMobile .mainMenu .mobileLanguage a:last-of-type { border: none;}
    .mainMenuMobile .mobileMenu { text-align: right; }
    .mainMenuMobile .mobileMenu label { border: none; margin: 0.3em 0; text-align: center; padding: 5px 1.7em; font-size: 21px; display: inline;}
    .mainMenuMobile .mobileMenuContent { position: absolute; width: 50%; height: 200px; z-index: 100; right: 0; top: 3em; background-color: white; }
    .mainMenuMobile .mainMenu .mobileMenuContent a { width: 100%; display: block; padding: 13px; margin: 0 0 3px; background-color: #f8e5c6; color: black; }

    .mobileSocial { display: block; position: fixed; right: 0; top: 425px; border-radius: 4px 0 0 4px; background-color: white; border:  1px solid #cdcdcd; border-right: none; padding: 5px; padding-right: 10px; z-index: 15; }
    .mobileSocial a { display: block; font-size: 20px; text-align: center; width: 26px; }

    .carousel .carousel-indicators { bottom: 10px;}

    .centerMenuMobile {display: block; }
    .centerMenuMobile a { text-align: center; text-transform: uppercase; font-family: 'Raleway', sans-serif; }
    .centerMenuMobile .centerMenuMobileDowner a { border-right: 2px solid #d7bb92; }
    .centerMenuMobile .centerMenuMobileDowner a:last-of-type { border: none;}

    .centerMenuMobile .centerMenuMobileDowner { border-bottom: 1px solid #bfbfbf; padding: 20px 0; margin-bottom: 14px; }
    .centerMenuMobile .centerMenuMobileUpper { border-bottom: 1px solid #bfbfbf; padding: 10px 0; }


    #logoCarousel { display: none; }
    .bannerTop { display: none; }
    .social {display: none; }
    
    .articleVoucherbookContent .mainAnchor { width: 100%; display: block; margin-bottom: 1em; margin-top: 0px;  }
    #inputCheckboxVoucherbook { float: none; margin: 0 auto; text-align: center;}
    
    .articleEventContent .mainAnchor { width: 100%; display: block; margin-bottom: 1em; margin-top: 0px;  }
    #inputCheckboxEvent { float: none; margin: 0 auto; text-align: center;}
    
    .articleEventContent .eventText .greyArrows .greyArrowBackground { background-color: #808080; color: white; padding: 10px 20px; font-size: 15px; margin-bottom: 10px; }
    .articleEventContent .eventText .greyArrowBackground1 { background: none; }
    .articleEventContent .eventText .greyArrowBackground2 { background: none; }
    .articleEventContent .eventText .greyArrowBackground3 { background: none; }
    
    .articleEventContent .eventTextThanks { background: none; min-height: inherit;}
    
}

/*medium - MD mensi nez*/
@media (max-width: 768px) {

    .mainMenuMobile .mainMenu .mobileLanguage a {  padding: 5px 1em;  }
    .articleGroupCaption h1 { text-align: center; margin: 0; }
    .articleGroupCaption a { display: none;}
    .articleGroup .miniTable .caption { text-align: center; padding: 10px 10px 5px; }
    .articleGroup .miniTable .content { text-align: center; padding: 5px 10px 10px; }
    .articleGroup.aboutUs img { margin-bottom: 20px;}
    .articleGroup.aboutUs .content {text-align: center; }
    .articleGroup.aboutUs .content .mainAnchor {  display: block; margin-top: 10px; }
    
    .articleEventContent .imageInstaxCaption img { width: 100%;}
}

/*small - SM mensi nez*/
@media (max-width: 576px) {
    .noMobile { display: none; }
    .noDesktop { display: block; }
    .mainMenu  {width: auto;}
    .articleGroupVoucherMobile { display: block;}
    .articleGroup article { width: auto;}
    .articleGroup article h2 { width: auto; font-size: 20px; margin-bottom: 0px; }
    .articleGroup article img { width: 100%; margin-bottom: 10px; }
    .articleGroupGallery { display: none;}
    .articleGroup.detail .articleGroupCaption h1 { font-size: 18px; }
    .articleGroup .content { padding: 15px;}

    .logoRow .logo img {height: 70px;}
    header { margin-bottom: 15px;}
    header .logoRow { margin-top: 14px;}
    .articleGroup { margin-left: 0px; margin-right: 0px; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); border: none; margin-bottom: 0px; }
    .articleGroup .wholeArticles { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); border: none;}
    .mainSection { margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
    .articleGroupCaption { padding: 17px 0; }
    .articleGroupCaption h1 { font-size: 18px; }
    .articleGroup .brandList { margin: 14px;}
    .articleGroup article { margin: 8px 4px; }
    .articleGroup .articleGroupMenu { margin: 10px 18px; }
    .articleGroup .articleGroupMenu a span { font-size: 18px; }
    .articleGroup .miniTable .caption { font-size: 12px; padding: 0; text-align: right; }
    .articleGroup .miniTable .content { font-size: 12px; padding: 0; text-align: left; padding-left: 10px;}
    .articleGroup .content .multipleAnchor { float: right; }
    .articleGroup .content .multipleAnchor .mainAnchor { width: auto;}
    .articleGroup .wholeArticles { padding: 4px 0;}
    .articleGroup .wholeArticles .text { font-size: 12px; color: #808080; padding: 5px 0 7px; text-align: center; }
    .articleGroup article h3 { font-size: 13px; margin-bottom: 0px; }
    .articleGroup article a { font-size: 13px; text-align: center; padding: 10px; }
    .articleGroup article.content .images { margin-bottom: 20px;}
    .brandList article .back a { width: 100%; }
    .articleGroup .content .text { font-size: 13px; }
    .articleGroup .content h2 { font-size: 18px; margin-bottom: 2px; margin-top: 5px;}
    .articleGroup article.content {margin: 7px 18px; }
    .articleGroup article.mobileContent {margin: 7px 18px; }
    .articleGroup .content .mainAnchor { font-size: 9px; margin-top: 5px; width: 33%; padding: 7px 10px 5px; float: right; }

    .brandList article .front { display: none; }
    .brandList article .back { display: none; }
    .brandList article .mobile { display: block; }
    .brandList article:hover .front, .brandList article:active .front, .brandList article:focus .front { display: none;}
    .brandList article:hover .back, .brandList article:active .back, .brandList article:focus .back { display: none;}
    .brandList article:hover, .brandList article:active, .brandList article:focus { background: none; }

    .articleGroup article {  height: auto;}
    .brandList article { padding: 0px; }
    .brandList article .mobile .brandImage { text-align: center; padding: 50px 0; border-bottom: 1px solid #bdbdbd;  }
    .brandList article .mobile .caption { padding: 11px 14px 5px; font-size: 20px; }
    .brandList article .mobile .anchorInfo { margin: 5px 20px 14px; width: 50%; font-size: 14px; float: right;  }
    
    .articleGroup .sectionContent { padding: 30px; border: none; border-radius: 0px; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);  font-size: 12px; }
    .articleGroup .sectionContent h2 { font-size: 17px; width: 100%; padding-top: 20px; }
    .articleGroup .sectionContent h2:first-of-type { padding-top: 0px; }
    .articleGroup .sectionContent .mainAnchor { display: block; color:white; background-color: #404040; padding: 16px; width: 100%; font-size: 18px; margin-bottom: 20px; text-align: center; text-transform: uppercase;  }
    .contactImage { width: 100%; }
    
    footer { margin-top: 20px; }
    footer section .caption, footer section .caption:first-of-type { font-size: 14px; margin-bottom: 2px; margin-top: 1.5em; }
    footer article { font-size: 12px; }
    footer section a { font-size: 12px; }
    .articleAboutUs { display: none; }
    .articleVoucherBook { display: none;}
    .centerMenuMobile { font-size: 12px; padding: 0px; margin: 0px; }

    .mainMenu a { font-size: 13px;}
    .centerMenuMobile .centerMenuMobileUpper { padding: 10px 20px; }
    .mainMenuMobile .mobileMenu label { font-size: 13px; float: right; padding-right: 0;}
    .mobileLanguage { padding: 0px; }
    .mainMenuMobile .mainMenu .mobileLanguage a { padding: 5px 12px; float: left; }
    #mainMenuBackground { padding: 8px 12px; }
    .mobileSocial { top: 240px; padding-right: 2px;}

    html, body{ background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 79%,rgba(245,245,245,1) 100%,rgba(255,255,255,1) 100%);  }

    .articleVoucherbookContent .voucherbookText { padding: 10px;}
    .articleVoucherbookContent section { padding: 10px; }
    .articleVoucherbookContent h2, .articleVoucherbookContent .articleVoucherbookContentThanks { font-size: 21px; }
    .articleVoucherbookContent label, .articleVoucherbookContent p { font-size: 18px;}
    .articleVoucherbookContent .labelText { padding: 15px !important;}
    
    .articleEventContent .eventText { padding: 10px;}
    .articleEventContent section { padding: 10px; }
    .articleEventContent h2, .articleEventContent .articleEventContentThanks { font-size: 21px; }
    .articleEventContent label, .articleEventContent p { font-size: 18px;}
    .articleEventContent .labelText { padding: 15px !important;}
    
    
}
