@font-face {
    font-family: 'RatioModern';
    src: url("./font/RatioModern.otf") format("opentype");
}

@font-face {
    font-family: 'RatioModern';
    font-weight: bold;
    src: url("./font/RatioModernMedium.otf") format("opentype");
}

.fontRatioModern { font-family: 'RatioModern', sans-serif; }
.fontRaleway { font-family: 'Raleway', sans-serif; }

html { background-color: white; }
body {}
header { width: 1400px; margin: 0 auto; padding: 0 !important; font-family: 'Raleway', sans-serif; margin-bottom: 33px;}

a { color: inherit; }
a:hover, a:active, a:focus, a.active { text-decoration: none; color: inherit; } 

#menuOnOff { display: none; }
.mobileMenuContent { display: none; }
#menuOnOff:checked ~ nav.mainMenuMobile .mainMenu .mobileMenuContent { display: block; }

.menuIcon { display: none; cursor: pointer; }

.logo { margin: 0 auto; }
.displayBlock { display: block; }

.row {margin: 0;}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
header nav { padding: 0px !important;}
header nav ul { list-style-type: none; font-size: 17px;}
header nav ul li { text-align: center; margin-top: 26px; margin-bottom: 20px;}
header nav .topMenuItems { width: 55%; padding: 0 6% 0 3%; float: left; color: #808080; text-transform: uppercase;}
header nav a:hover { font-weight: bold;}
header nav .topMenuLanguage { width: 15%; float: left; padding: 0; color: black; margin-right: 5%;}
header nav .topMenuLanguage li { border-right: 2px solid #d7bb92;  }
header nav .topMenuLanguage li:last-child { border-right: none; }
header nav .formSearch { width: 20%; float: left; margin-top: 21px;}
header nav .formSearch .formSearchContainer {
    box-shadow: 6px 6px 13px 0px rgba(255, 255, 255, 1),  -5px -5px 28px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee; padding-bottom: 7px;
}
header nav .formSearch input { border: none;}
header nav .formSearchText { margin: 0 7px; width: 75%;}
header nav .formSearchText:focus { outline: none;}
header nav .formSearchImage { background-color: white; margin: 8px 0 -8px 3px;}
header nav .topMenuSocial { width: 5%; float: left; position: relative;  padding-left: 25px;}
header nav .topMenuSocial ul {position: absolute; padding: 0 !important; }
header nav .topMenuSocial li { margin-top: 20px;}
header nav .topMenuSocial li ul li { font-size: 28px; margin: 0 !important; }

header .logoRow { margin-top: 30px; }

#mainMenuBackground { background-color: #f4e0b5; padding: 14px 12px; margin-bottom: 27px; }
.mainMenu { margin: 0 auto; width: 1400px; font-family: 'RatioModern', sans-serif; text-transform: uppercase; }
.mainMenu a { font-size: 21px; padding: 0 4%; border-right: 2px solid #d7bb92; padding-top: 7px; }
.mainMenu a:last-of-type { border: none; }
.mainMenuMobile {display: none;}
.centerMenuMobile { display: none;}

.mobileSocial { display: none; }

.carousel .carousel-indicators { bottom: 50px;}
.carousel .carousel-indicators li { background: url("../img/carousel-point.png") center center no-repeat; width: 8px; height: 8px; margin: 4px;  }
.carousel .carousel-indicators li.active { background: url("../img/carousel-point-active.png") center center no-repeat;  }

.slider { display: none; }
#logoCarousel { margin: 0px 70px; margin-bottom: 47px;  width: /*90%*/1242px; height: 80px;}
#logoCarousel .slick-slide {opacity: 1 !important;}
#logoCarousel .slick-slide { width: 130px; padding: 0 5px;  margin: 0px 2px;  object-fit: cover; }
#logoCarousel .slick-list { margin: 0 3px;}
#logoCarousel .slick-slide div div img { margin: 0 auto; }
#logoCarousel .slick-slide img { }
#logoCarousel .slick-prev, #logoCarousel .slick-next {
    position: absolute;
    top: 15px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
}
#logoCarousel .slick-prev {left: -55px; background: url("../img/slider-left-arrow.png") center center no-repeat; width: 26px; height: 47px; }
#logoCarousel .slick-next {right: -55px; background: url("../img/slider-right-arrow.png") center center no-repeat; width: 26px; height: 47px; }

.bannerTop { font-size: 39px; font-family: 'Raleway', sans-serif; margin: 0 14px 24px;  }
.bannerMap { color: #e6cd97; text-transform: uppercase; padding: 90px 70px 70px; background: url("../img/banner-map-background.jpg") center center no-repeat; background-size: cover;  }


.articleGroup { margin: 0 14px 32px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);  }
.articleGroup.detail, .articleGroup.detail .wholeArticles { border: none; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); }
.articleGroupCaption { position: relative; background: url("../img/article-group-caption.png") center center repeat-y; background-size: contain; padding: 55px 0 43px;  }
.articleGroupCaption h1 { font-size: 43px; font-family: 'RatioModern', sans-serif; text-transform: uppercase; padding: 5px 0 0 0; margin: 0; color: black; font-weight: normal; text-align: center; }
.articleGroupCaption a { font-size: 19px; font-family: 'Raleway', sans-serif; text-transform: uppercase; display: block; width: 254px; text-align: center; padding: 35px; position: absolute; right: 51px; background-color: #d9be8b; top: 30px; }
.articleGroup .wholeArticles { padding: 24px 0; border:  1px solid #cdcdcd; border-top: none; box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15);  }
.articleGroup .wholeArticles .rowArticles { padding-bottom: 24px; }
.articleGroup article { border-radius: 7px; border:  1px solid #cdcdcd; padding: 20px; box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15); } 
.articleGroup article img { margin-bottom: 20px;}
.articleGroup article h2 { font-size: 29px; color: black; font-family: 'Raleway', sans-serif; text-transform: uppercase;  font-weight: normal; text-align: left; width: 350px; padding-bottom: 5px; min-height: 3em; }
.articleGroup article h3 { font-size: 19px; color: #808080; font-family: 'Raleway', sans-serif; text-transform: uppercase; width: 50%; font-weight: normal; text-align: left; padding-top: 41px;}
.articleGroup article a { display: block; font-size: 19px; color: black; font-family: 'Raleway', sans-serif; text-transform: uppercase; width: 50%; background-color: #c0c0c0; padding: 18px 34px;  }
.articleGroup article.content .moreImages a { padding: inherit; background: none;     width: 110px; }
.articleGroup .articleGroupMenu { margin: 28px 0 14px;}
.articleGroup .articleGroupMenu a { margin: 0px; padding: 0; text-align: center; }
.articleGroup .articleGroupMenu a:last-of-type { text-align: right; }
.articleGroup .articleGroupMenu a:first-of-type { text-align: left; }
.articleGroup .articleGroupMenu a span { display: inline-block; font-family: 'Raleway', sans-serif; background-color: #404040; text-transform: uppercase; font-size: 26px; color: white; padding: 27px 40px 22px; }
.articleGroup .content { margin: 40px 0; padding: 35px; }
.articleGroup .content .images { padding: 0 50px 0px 0;}
.articleGroup .content .images .moreImages img { object-fit: contain; width: 100%; }
.articleGroup .content h2 { width: auto; min-height: inherit; margin-bottom: 20px;  }
.articleGroup .content .text { color: #808080;  }
.articleGroup .content .mainAnchor { background-color: #404040; color: white; text-align: center; width: auto; margin-top: 40px; padding: 16px 50px; }

.articleGroup .wholeArticlesGallery { padding-top: 20px; border:  1px solid #cdcdcd;  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); }
.articleGroup .wholeArticlesGallery article { border: none; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); }
.articleGroup .wholeArticlesGallery .slick-prev, .articleGroup .wholeArticlesGallery  .slick-next {
    position: absolute;
    top: 210px;
    z-index: 1;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
}
.articleGroup .wholeArticlesGallery .slick-prev {left: 55px; background: url("../img/gallery-left-arrow.png") center center no-repeat; width: 25px; height: 45px; }
.articleGroup .wholeArticlesGallery .slick-next {right: 55px; background: url("../img/gallery-right-arrow.png") center center no-repeat; width: 25px; height: 45px; }

.paginator { text-align: center; font-family: 'Raleway', sans-serif; margin: 50px 0 80px; }
.paginator a { text-align: center; color: white; font-size: 18px;}
.paginator a span { display: inline-block; padding-top: 6px; }
.paginator .leftArrow { background: url("../img/left-arrow.png") center center no-repeat; width: 25px; height: 46px; margin-right: 37px; }
.paginator .rightArrow { background: url("../img/right-arrow.png") center center no-repeat; width: 25px; height: 46px; margin-left: 37px; }
.paginator .page { width: 45px; height: 45px; border-radius: 50%; background-color: #d7bb92; border: 1px solid #d7bb92; margin: 0 11px; }

.social { margin: 0px 14px 32px; box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.15); padding: 22px 0; }
.social section { text-align: center; padding: 0 20px;  width: 420px; text-transform: uppercase;}
.social .caption { font-family: 'RatioModern', sans-serif; color: black; font-size: 40px; margin-top: 6px; }
.social .text { text-align: left; font-family: 'Raleway', sans-serif; font-size: 18px; color: #797979; line-height: 1.3em; }
.social .buttons { font-family: 'Raleway', sans-serif; font-size: 17px; font-weight: bold;}
.social .buttons a { color: white; background-color: #f5d7b0; margin: 0 10px; padding: 15px 19px; box-shadow: -5px -5px 33px 0px rgba(0, 0, 0, 0.15);   }
/*.social .buttons a svg { margin-right: 3px; }*/

.articleGroupVoucherMobile { display: none;}

footer {margin-top: 50px; margin-bottom: 60px; font-family: 'Raleway', sans-serif; }
footer section.col {padding-right: 2em; }
footer section .caption { font-family: 'Raleway', sans-serif; font-size: 29px; text-transform: uppercase; color: black; display: block; margin-bottom: 20px; margin-top: 60px; }
footer section .articleVoucherBook .caption { margin-top: 60px; }
footer section .caption {margin-top: 0;}
footer section { font-family: 'Raleway', sans-serif;  color: #808080; font-size: 21px; }
footer section a { display: block; text-decoration: underline;}
footer section a:hover { color: black;}



/*small - S vetsi nez*/
@media (min-width: 576px) {
}

/*medium - MD vetsi nez*/
@media (min-width: 768px) {
    /*#logoCarousel { margin: 0px 56px; margin-bottom: 27px;  width: 570px; height: 80px;}
    #logoCarousel .slick-slide { width: 135px; padding: 0 10px;  margin: 0px 0px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 0px;}
    .articleGroupCaption a { width: 190px;}
    .articleGroup .wholeArticlesGallery .slick-list { width: 434px; margin: 0 auto; }
    .mainMenu a { border: none; margin: 0.3em 0; text-align: center; }
    header nav .topMenuItems { width: 100%; }
    header nav .topMenuItems li {margin: 20px 0 10px; }
    header nav .topMenuLanguage { width: 30%; }
    header nav .formSearch { width: 50%; }
    header nav .formSearchText { width: 82%; }
    header nav .topMenuSocial { position: inherit;}
    header nav .topMenuSocial li ul li { float: left;}
    header nav .topMenuSocial li ul li a { margin-right: 0.6em; display: block;}*/
}

/*large - LG vetsi nez*/
@media (min-width: 992px) {
    /*#logoCarousel { margin: 0px 74px; margin-bottom: 27px;  width: 786px; height: 80px;}
    #logoCarousel .slick-slide { width: 124px; padding: 0 5px;  margin: 0px 2px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 3px;}*/
}

/*extra large - XL vetsi nez */
@media (min-width: 1400px) { 
}



/*extra small - XS mensi nez*/
@media (max-width: 576px) {
}

/*small - S mensi nez*/
@media (max-width: 576px) {

}


/*extra large - XL mensi nez */
@media (max-width: 1400px) { 
    .mainMenuMobile {display: none;}
    .articleGroup article { width: 400px; margin: 0 auto 2%; }
    .articleGroup article.content { width: auto; }
    .articleGroup article.content .images { margin: 0 auto; text-align: center; padding: 0; }
    .articleGroup .wholeArticles .rowArticles { padding-bottom: 0px; }
    .articleGroupCaption { padding: 30px 0 25px; }
    .articleGroupCaption h1 { text-align: left; margin-left: 5%; font-size: 30px;}
    .articleGroup.detail .articleGroupCaption h1 { text-align: center; margin-left: auto; font-size: 30px;}
    .articleGroupCaption a { padding: 5px; }
    .social section { margin: 0 auto 20px; text-align: center !important;}
    .social section.buttons { padding-top: 40px;}
    .articleGroup article h3 { padding-top: 24px; }
    .articleGroup article a { padding: 9px 34px; }
    
    .articleGroup .articleGroupMenu a span { font-size: 18px; padding: 17px 20px 12px; }
    
    .mainMenu a { padding: 4px 2.2% 0;}
    header nav .topMenuItems { padding: 0 0% 0 2%; }
    header nav .topMenuLanguage { margin-right: 2.5%; margin-left: 2.5%; }
    header nav .formSearch { width: 17%; }
    header nav .formSearchText { width: 65%; }
    footer section .caption {font-size: 24px;}
    footer section { font-size: 17px; }
    .articleGroup .slick-list { margin: 0 -4px; }

    #logoCarousel { margin: 0px 74px; margin-bottom: 27px;  width: 786px; height: 80px;}
    #logoCarousel .slick-slide { width: 124px; padding: 0 5px;  margin: 0px 2px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 3px;}
}


/*large - LG mensi nez*/
@media (max-width: 992px) {
    #topMenu { display: none;}
    .mainMenuDesktop {display: none;}
    .mainMenuMobile {display: block;}
    footer section .caption, footer section .caption:first-of-type { margin-top: 1em; }
    #logoCarousel { margin: 0px 56px; margin-bottom: 27px;  width: 570px; height: 80px;}
    #logoCarousel .slick-slide { width: 135px; padding: 0 10px;  margin: 0px 0px;  object-fit: cover; }
    #logoCarousel .slick-list { margin: 0 0px;}
    .articleGroupCaption a { width: 190px;}
    .articleGroup .wholeArticlesGallery .slick-list { width: 434px; margin: 0 auto; }
    
    .articleGroup .articleGroupMenu { margin: 10px 0;}
    .articleGroup .articleGroupMenu a { width: 100%; margin: 0px; padding: 0; text-align: center; }
    .articleGroup .articleGroupMenu a:last-of-type { text-align: center; }
    .articleGroup .articleGroupMenu a:first-of-type { text-align: center; }
    .articleGroup .articleGroupMenu a span { font-size: 14px; padding: 17px 20px 12px; width:100%; margin: 5px 0; }
    
    .mainMenu a { border: none; margin: 0.3em 0; text-align: center; }
    header nav .topMenuItems { width: 100%; }
    header nav .topMenuItems li {margin: 20px 0 10px; }
    header nav .topMenuLanguage { width: 30%; }
    header nav .formSearch { width: 50%; }
    header nav .formSearchText { width: 82%; }
    header nav .topMenuSocial { position: inherit;}
    header nav .topMenuSocial li ul li { float: left;}
    header nav .topMenuSocial li ul li a { margin-right: 0.6em; display: block;}

    .logoRow .logo img { height: 150px;}

    .mainMenuMobile .mainMenu { font-family: 'Raleway', sans-serif; position: relative; }
    .mainMenuMobile .mainMenu .mobileLanguage a {  padding: 5px 1.7em; border-right: 2px solid #d7bb92; }
    .mainMenuMobile .mainMenu .mobileLanguage a:last-of-type { border: none;}
    .mainMenuMobile .mobileMenu { text-align: right; }
    .mainMenuMobile .mobileMenu label { border: none; margin: 0.3em 0; text-align: center; padding: 5px 1.7em; font-size: 21px; display: inline;}
    .mainMenuMobile .mobileMenuContent { position: absolute; width: 50%; height: 200px; z-index: 100; right: 0; top: 3em; background-color: white; }
    .mainMenuMobile .mainMenu .mobileMenuContent a { width: 100%; display: block; padding: 13px; margin: 0 0 3px; background-color: #f8e5c6; color: black; }

    .mobileSocial { display: block; position: absolute; right: 0; top: 425px; border-radius: 4px 0 0 4px; background-color: white; border:  1px solid #cdcdcd; border-right: none; padding: 5px; padding-right: 10px; z-index: 15; }
    .mobileSocial a { display: block; font-size: 20px; text-align: center; width: 26px; }

    .carousel .carousel-indicators { bottom: 10px;}

    .centerMenuMobile {display: block; }
    .centerMenuMobile a { text-align: center; text-transform: uppercase; font-family: 'Raleway', sans-serif; }
    .centerMenuMobile .centerMenuMobileDowner a { border-right: 2px solid #d7bb92; }
    .centerMenuMobile .centerMenuMobileDowner a:last-of-type { border: none;}

    .centerMenuMobile .centerMenuMobileDowner { border-bottom: 1px solid #bfbfbf; padding: 20px 0; margin-bottom: 14px; }
    .centerMenuMobile .centerMenuMobileUpper { border-bottom: 1px solid #bfbfbf; padding: 10px 0; }


    #logoCarousel { display: none; }
    .bannerTop { display: none; }
    .social {display: none; }
}

/*medium - MD mensi nez*/
@media (max-width: 768px) {

    .mainMenuMobile .mainMenu .mobileLanguage a {  padding: 5px 1em;  }
    .articleGroupCaption h1 { text-align: center; margin: 0; }
    .articleGroupCaption a { display: none;}
}

/*small - SM mensi nez*/
@media (max-width: 576px) {
    .mainMenu  {width: auto;}
    .articleGroupVoucherMobile { display: block;}
    .articleGroup article { width: auto;}
    .articleGroup article h2 { width: auto; font-size: 20px; margin-bottom: 0px; }
    .articleGroup article img { width: 100%; margin-bottom: 10px; }
    .articleGroupGallery { display: none;}

    .logoRow .logo img {height: 70px;}
    header { margin-bottom: 15px;}
    header .logoRow { margin-top: 14px;}
    .articleGroup { margin-left: 0px; margin-right: 0px; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); border: none; margin-bottom: 0px; }
    .articleGroup .wholeArticles { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); border: none;}
    .mainSection { margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
    .articleGroupCaption { padding: 17px 0; }
    .articleGroupCaption h1 { font-size: 18px; }
    .articleGroup article { margin: 8px 18px; }
    .articleGroup .wholeArticles { padding: 4px 0;}
    .articleGroup .wholeArticles .text { font-size: 12px; color: #808080; padding: 5px 0 7px; text-align: center; }
    .articleGroup article h3 { font-size: 13px; margin-bottom: 0px; }
    .articleGroup article a { font-size: 13px; text-align: center; padding: 10px; }
    .articleGroup article.content .images { margin-bottom: 20px;]}

    footer { margin-top: 20px; }
    footer section .caption, footer section .caption:first-of-type { font-size: 14px; margin-bottom: 2px; margin-top: 1.5em; }
    footer article { font-size: 12px; }
    footer section a { font-size: 12px; }
    .articleAboutUs { display: none; }
    .articleVoucherBook { display: none;}
    .centerMenuMobile { font-size: 12px; padding: 0px; margin: 0px; }

    .mainMenu a { font-size: 13px;}
    .centerMenuMobile .centerMenuMobileUpper { padding: 10px 20px; }
    .mainMenuMobile .mobileMenu label { font-size: 13px; float: right; padding-right: 0;}
    .mobileLanguage { padding: 0px; }
    .mainMenuMobile .mainMenu .mobileLanguage a { padding: 5px 12px; float: left; }
    #mainMenuBackground { padding: 8px 12px; }
    .mobileSocial { top: 240px; padding-right: 2px;}

    html, body{ background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 79%,rgba(245,245,245,1) 100%,rgba(255,255,255,1) 100%);  }

}
